<html>
    <head>
        <title>Diabetes prediction</title>
    
    </head>
    <body>
        <div style="color:black;" class="container">
            <h2 class='container-heading'><span class="heading_font">House Price</span></h2>
        </div>
        <div style="color:black;" class="ml-container"></div>
        <form action='/predict' method="POST"><br>
           
            <label for="Glucose" colo> Glucose:  </label>
            <input type="text" name="Glucose" placeholder="Glucose" required="required">
            <br>
            <br>
            <label for="BloodPressure" colo> BloodPressure:  </label>
            <input type="text" name="BloodPressure" placeholder="BloodPressure" required="required">
            <br>
            <br>
            <label for="SkinThickness" colo> SkinThickness:  </label>
            <input type="text" name="SkinThickness" placeholder="SkinThickness" required="required">
            <br>
            <br>
            <label for="Insulin" colo> Insulin:  </label>
            <input type="text" name="Insulin" placeholder="Insulin" required="required">
            <br>
            <br>
            <label for="BMI" colo> BMI:  </label>
            <input type="text" name="BMI" placeholder="BMI" required="required">
            <br>
            <br>
            <label for="DiabetesPedigreeFunctio" colo> DiabetesPedigreeFunctio:  </label>
            <input type="text" name="DiabetesPedigreeFunctio" placeholder="DiabetesPedigreeFunctio" required="required">
            <br>
            <br>
            <label for="Age" colo> Age:  </label>
            <input type="text" name="Age" placeholder="Age" required="required">
            <br>
            <br>
        
            
        
        

        </style>
    </body>
</html>
